name: Waka Readme

on:
  push:
  schedule:
    - cron: '0 21 * * *' # Run every midnight (UTC+3)
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Update README with WakaTime stats
        uses: HIlight3R/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SYMBOL_VERSION: 2
          SHOW_PROJECTS: "False" # It will be "True" when I find a way to hide private repos
          SHOW_LINES_OF_CODE: "True"
          SHOW_LANGUAGE_PER_REPO: "False"
          SHOW_LOC_CHART: "False"
